<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="files/style.css?v=2.0.5">
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon">
    <link href="assets/css/fontawesome6.3.0.css" rel="stylesheet">
    <link href="assets/fontawesome/css/brands.min.css" rel="stylesheet">
    <link href="assets/fontawesome/css/solid.min.css" rel="stylesheet">
    <title><%- appInfo.appName %> Presale Live</title>
</head>
<body>
    <div class="topViewBox">
        <div class="viewArea">
            
            
            <div class="headerSection">
                <div class="logoSection">
                    <img src="images/logo-round.png" alt="O" class="logo">
                    <h1 class="name"><%- appInfo.appName %> </h1> 
                    
                </div>
                
                <%- data.nLogTop %>
            </div>
            <!-- Action Section -->
            <div class="actionSection" >
                <div class="shader">
                    <span class="topLine">Missed the Bitcoin Train? </span>
                    <span class="tagLine"> Don't Worry <br> Grab Your Ticket to the<br>Future with   <span class="green"><%- appInfo.appName %>s </span>
                        <br>Exclusive <span class="blue"> Pre-Sale</span>
                    </span>
                    <span class="actionLine">Invest wisely today in <%- appInfo.appName %> <br>and watch your investment soar to new heights tomorrow. <br id="linebreak">Don't miss out on the opportunity for financial growth!</span>
                    <hr class="firstLine">
                    <div class="tokenAction">
                        <div class="leftAction">
                            <%- data.buyLink%>
                        </div>
                    </div>
                </div>
                <%- data.Dp %>
            </div>
            <!-- action section -->
            
            <!-- Stat Section -->

            <div class="poweredSection">
                <div class="brandTitle"><span>Powered By</span></div>
                <div class="brand">
                    
                    <div class="brands"><img src="brands/Binance.png" alt="Binance logo"></div>
                    <div class="brands"><img src="brands/CoinStats.png" alt="CoinStats logo"></div>
                    <div class="brands"><img src="brands/Google.png" alt="Google Logo"></div>
                    <div class="brands"><img src="brands/solana.png" alt="Binance logo"></div>
                    <div class="brands"><img src="brands/mastercard.png" alt="mastercard logo"></div>
                    <div class="brands"><img src="brands/OpenAi.png" alt="OpenAi Logo"></div>
                    <div class="brands"><img src="brands/visa.png" alt="Visa Logo"></div>
                    <div class="brands"><img src="brands/Ethereum.png" alt="Ethereum logo"></div>
                    <div class="brands"><img src="brands/Github.png" alt="Github Logo"></div>
                    <div class="brands"><img src="brands/Microsoft.png" alt=""></div>
                </div>
            </div>
            <hr class="secondLine">
        
            <!-- About Section -->
            <div class="aboutTokenSection">
                <div class="aboutTitle">
                    <div class="mainTitle">What is <%- appInfo.appName %>?</div>
                </div>
                <div class="aboutSection">
                    <div class="shader">
                        <div class="aboutLeftSection">
                            <ul>
                                <li> <span class="steps"><%- appInfo.appName %>: </span> <%- appInfo.appName %> (TBS) is a crypto coin created on BatchChain Technology. Unlike blockchain, batchchain technology increase the crypto price as the batch increases.</li>

                                <li> <span class="steps">Mechanism: </span> It uses Proof Of Stake(PoS) where every transaction is free of blocks. The total supply is divided into batches. As the batch number increase the price of crypto increases and the batch size decrease.</li>

                                <li> <span class="steps">Resell During Presale: </span> You can resell <%- appInfo.appName %></b> coins in the next batch to earn profit.</li>

                                <li> <span class="steps">Exclusive: </span> Only <b style="color: #fe9400;">20.2 billion <%- appInfo.appName %></b> coins have been minted to preserve their exclusivity; each coin represents a finite piece of digital value, ensuring rarity and enduring value for holders.</li>

                                <li> <span class="steps">Legal:</span> <%- appInfo.appName %> complies with relevant regulations and legal requirements, ensuring a transparent and compliant token sale process.</li>

                                <li> <span class="steps">Purpose:</span> <%- appInfo.appName %> aims to become the primary medium of exchange and governance crypto within the batchchain ecosystem. </li>
                            </ul>
                        </div>
                        <div class="aboutRightSection">
                            <div class="rightSectionBox">
                                <img src="images/graphs.png" alt="">
                                <span class="allocation"><%- appInfo.appName %> Allocation</span>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <!-- about section -->
            <hr class="secondLine" id="howSectionLine">
            <!-- How to section -->
            <div class="howToSection">
                <div class="howToTitle">
                    <div class="mainTitle">How to buy <%- appInfo.appName %>?</div>
                    
                </div>
                <div class="howSection">
                    <div class="shader">
                        <div class="leftHowSection">
                            <ul>
                                <li> <span class="steps">Create Account:</span>  The very first step is create an account on <%- appInfo.appName %> Official Platform. </li>
                                <li> <span class="steps">Sign Up Options:</span> You have to select provided option to create account and login into your account. We recommand using google sign in method.</li>
                                <li><span class="steps">Apply referal:</span>  If someone sends the link it may contain referal code. If referal code is not applied you can put your own referal by tapping on the link.</li>
                                <li><span class="steps">Buy with card:</span>  Use your debit/credit/ATM card to purchase <%- appInfo.appName %>. The minimum purchase? Just $10. But <b style="color: orangered;">hurry, only 7 million</b> pioneers will seize this exclusive opportunity.</li>
                                <li><span class="steps">Buy with crypto:</span>  You can purchase <%- appInfo.appName %> by sending your perfered crypto. Major cryptos like Solana, Bitcoin and Ethereum are supported.</li>

                                <li><span class="steps">Create Solana wallet:</span>  Create a solana wallet on phantom wallet. If you don't have you can create a phantom wallet both on mobile and desktop. You can use other solana wallet but phantom is recommanded as it support the icon and transfer of your <%- appInfo.appName %>s.</li>
                                <li><span class="steps">Add Your Solana address:</span>  Copy your solana wallet address from phantom and paste it in the box given in your account section. This is the account address where we will send you solana tokens.</li>
                                <li><span class="steps">Airdropping: </span> Once the <%- appInfo.appName %> is launched we will airdrop your <%- appInfo.appName %>s to your solana wallet.</li>
                            </ul>
                        </div>
                        <div class="rightHowSection">
                            <img src="images/pay-card.png" alt="">
                        </div>
                    </div>
                    
                </div>
            </div>
            <!-- how to section -->
            

            
        </div>

        <!-- Footer Section -->
        <div class="footer">
            <div class="footerContent">
                <div class="footerTop">
                    <span class="headMessage">Whitepaper for Crypto presale and investment released.</br><span id="hint">(Password: <%- appInfo.appName %>)</span></span>
                    <div class="buttonDiv"><span class="actionButton" onclick="goto('/whitepaper')"> Whitepaper_V1.pdf </span></div>
                    
                </div>
                <div class="footerLinkDivs">
                    <div class="links" onclick="goto('/roadmap')">Roadmap</div>
                    <div class="links" onclick="goto('/sitemap')">Sitemap</div>
                    <div class="links" onclick="goto('/terms-conditions')">Terms & Conditions</div>

                </div>
                <div class="footerLinkDivs">
                    <div class="links" onclick="goto('/whitepaper')">Whitepaper</div>
                    <div class="links"><a href="https://t.me/tulobyteofficial">Telegram</a></div>
                    <div class="links" onclick="goto('/privacy-policy')">Privacy policy</div>
                    
                </div>
                <div class="footerLinkDivs">
                    
                    <div class="links" onclick="goto('/support')">Support Page</div>
                    <div class="links"><a href="mailto:tulobyte@outlook.com">Mail Us</a></div>
                    <div class="links"><a href="https://discord.gg/4TU9tzyt83">Discord</a></div>
                </div>
            </div>

            <div class="copyright">
                <%- appInfo.appName %> (TBS) | USA | 2024
            </div>
        </div>
        <!-- footer section -->
    </div>
    
    <script src="files/func.js?v=1.0.3"></script>
</body>
</html>

